﻿@page "/"

<PageTitle>Home</PageTitle>

<h1>Dictionary</h1>

<Text>
    A book or electronic resource that lists the words of a language (typically in alphabetical order) and gives their meaning, or gives the equivalent words in a different language, often also providing information about pronunciation, origin, and usage.
</Text>
