﻿@page "/userManage/{QUsername}"
@using SemPracaPOT.Shared.Models.User
@inject UserService _userService
@inject NavigationManager _navigationManager;

<PageTitle>Manage User</PageTitle>

<h3>Manage User</h3>

<p class="text-danger">@_message</p>

<div class="border border-secondary rounded d-inline-block p-3">
    <label >Username</label><br/>
    <input class="mb-3" placeholder="Username" @bind="_formUsername"/><br/>

    <label >E-mail</label><br/>
    <input class="mb-3" placeholder="E-mail" @bind="_formEmail"/><br/>

    <label >Password</label><br/>
    <input type="password" class="mb-3" placeholder="Password" @bind="_formPassword"><br/>

    <button class="btn btn-primary w-100 mb-2" @onclick="ApplyChanges">Apply</button>
    <a class="btn btn-secondary w-100" href="/users">Cancel</a>

</div>


@code {

    [Parameter]
    public string QUsername { get; set; }

    private EditUserDto _user;
    private string _formUsername;
    private string _formEmail;
    private string _formPassword;
    private string _message;

    protected override async Task OnInitializedAsync()
    {
        if (QUsername == null)
            return;

        var user = await _userService.GetUser(QUsername);

        if (user == null)
        {
            _message = "An error occurred when trying to fetch data from server";
        }
        else
        {
            _user = user;
            _formUsername = user.Username;
            _formEmail = user.Email;
        }
        StateHasChanged();
    }


    private async Task ApplyChanges()
    {
        if (_user is not {Username:{}})
            return;

        var newUser = new EditUserDto();

        if (_user.Username != _formUsername)
            newUser.Username = _formUsername;

        if (_user.Email != _formEmail)
            newUser.Email = _formEmail;

        if (!string.IsNullOrWhiteSpace(_formPassword))
            newUser.Password = _formPassword;

        var res = await _userService.UpdateUser(_user.Username, newUser);

        if (res)
        {
            _navigationManager.NavigateTo("/users");
        }
        else
        {
            _message = "An error occurred while trying to update user, probably validation error";
        }
    }




}