﻿@page "/login"
@inject AuthService _authService
@inject NavigationManager _navigationManager;

<PageTitle>Log In</PageTitle>

<h3>Log In</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
        <Text TextColor="TextColor.Danger" TextAlignment="TextAlignment.Center">@_message</Text>
        <Card >
            <CardBody>
                <Field>
                    <FieldLabel>Username</FieldLabel>
                    <TextEdit Placeholder="Username" @bind-Text="@_username"/>
                </Field>
                <Field>
                    <FieldLabel>Password</FieldLabel>
                    <TextEdit Placeholder="Password" @bind-Text="@_password" Role="TextRole.Password"/>
                </Field>
                <Button Clicked="TryLogin" Color="Color.Success">Login</Button>
            </CardBody>
        </Card>
    </Column>
</Row>


@code {
    private string _username;
    private string _password;
    private string _message;

    private async Task TryLogin()
    {
        if (string.IsNullOrWhiteSpace(_username) || string.IsNullOrWhiteSpace(_password))
            return;

        var res = await _authService.LogIn(_username, _password);

        if (res)
        {
            _navigationManager.NavigateTo("/");
        }
        else
        {
            _message = "Log in was not successful, please try again";
        }
    }

}