﻿@page "/register"
@using Microsoft.AspNetCore.Components
@using SemPracaPOT.Shared.Models.User
@inject AuthService _authService
@inject NavigationManager _navigationManager;

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<Text TextColor="TextColor.Danger">@_message</Text>

<Row>
    <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
        <Card >
            <CardBody>

                <Validations Mode="ValidationMode.Auto" Model="@_registerDto">
                    <Validation>
                        <Field>
                            <FieldLabel>Username</FieldLabel>
                            <TextEdit Placeholder="Username" @bind-Text="@_registerDto.Username">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation>
                        <Field>
                            <FieldLabel>E-mail</FieldLabel>
                            <TextEdit Placeholder="E-mail" @bind-Text="@_registerDto.Email">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                    <Validation>
                        <Field>
                            <FieldLabel>Password</FieldLabel>
                            <TextEdit Placeholder="Password" @bind-Text="@_registerDto.Password" Role="TextRole.Password">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>

                </Validations>

                <Button Clicked="TryRegister" Color="Color.Primary">Register</Button>

            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    private string _message;
    private readonly RegisterDto _registerDto = new();

    private async Task TryRegister()
    {
        var res = await _authService.Register(_registerDto);

        if (res)
        {
            _navigationManager.NavigateTo("/login");
        }
        else
        {
            _message = "Register was not successful, username is probably already taken.";
        }
    }


}