﻿@page "/users"
@using SemPracaPOT.Shared.Models.User
@inject UserService _userService

<h3>Users</h3>

<DataGrid TItem="UserRole"
          Data="@_users"
          ShowPager="true"
          PageSize="7"
          Sortable="true">
    <DataGridColumns>
        <DataGridColumn TItem="UserRole" Field="@nameof(UserRole.Username)" Caption="Username"></DataGridColumn>
        <DataGridColumn TItem="UserRole" Field="@nameof(UserRole.Email)" Caption="E-mail"></DataGridColumn>
        <DataGridColumn TItem="UserRole" Field="@nameof(UserRole.Roles)" Caption="Roles">
            <DisplayTemplate>
                <Text>@string.Join(", ", context.Roles)</Text>

            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="UserRole" Field="@nameof(UserRole.Username)" Caption="Actions">
            <DisplayTemplate>
                @*https://github.com/Megabit/Blazorise/issues/853#issuecomment-703824996*@

                @if (context is {Username: {}})
                {
                    <Blazorise.Button Color="Color.Danger" Clicked="_ => DeleteUser(context.Username)" Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Delete"></Icon>
                    </Blazorise.Button>
                    <Blazorise.Button Color="Color.Warning" Type="ButtonType.Link" To=@($"/userManage/{context.Username}") Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Pen"></Icon>
                    </Blazorise.Button>

                    @if (context.Roles.Contains("Admin"))
                    {
                        <Blazorise.Button Color="Color.Danger" Clicked="_ => RevokeAdmin(context.Username)" Margin="Margin.Is3.FromEnd">
                            Revoke admin
                        </Blazorise.Button>
                    }
                    else
                    {
                        <Blazorise.Button Color="Color.Warning" Clicked="_ => GrantAdmin(context.Username)" Margin="Margin.Is3.FromEnd">
                            Grant admin
                        </Blazorise.Button>
                    }
                }

            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@code {
    private List<UserRole> _users = new();

    protected override async void OnInitialized()
    {
        await ReloadUsers();
    }

    private async Task ReloadUsers()
    {
        var users = await _userService.GetAllUsers();
        _users = users;

        await InvokeAsync(StateHasChanged);
    }

    private async Task GrantAdmin(string username)
    {
        await _userService.SetRole(username, "Admin", true);
        await ReloadUsers();
    }

    private async Task RevokeAdmin(string username)
    {
        await _userService.SetRole(username, "Admin", false);
        await ReloadUsers();
    }

    private async Task DeleteUser(string username)
    {
        await _userService.DeleteUser(username);
        await ReloadUsers();
    }

}