﻿@inherits LayoutComponentBase
@inject AuthService _authService
@inject NavigationManager _navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">

            @if (!_authService.IsLoggedIn)
            {
                <Blazorise.Button Type="ButtonType.Link" To="login" Color="Color.Dark" Outline>
                    Log in
                </Blazorise.Button>
                <Blazorise.Button Type="ButtonType.Link" To="register" Color="Color.Primary" Margin="Margin.Is3.FromEnd">
                    Register
                </Blazorise.Button>
            }
            else
            {
                <Dropdown Color="Color.Dark" Outline Margin="Margin.Is3.FromEnd">
                    <DropdownToggle >
                        @($"Hello, {_authService.LoginResponse?.Username}!")
                    </DropdownToggle>
                    <DropdownMenu >
                        <DropdownItem Clicked="NavigateToMyWords" Margin="Margin.Is0.FromStart">
                            My words
                        </DropdownItem>
                    </DropdownMenu>
                </Dropdown>

                <Blazorise.Button Color="Color.Dark" Clicked="LogOut">
                    Log out
                </Blazorise.Button>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        _authService.Initialize();
    }

    private void LogOut()
    {
        _authService.LogOut();
        _navigationManager.NavigateTo("/");
    }

    private void NavigateToMyWords()
    {
        _navigationManager.NavigateTo("myWords");
    }

}