﻿@inject AuthService _authService;
@using SemPracaPOT.ClientApp.Services
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dictionary</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Translate
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wordsFinder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Crosswords finder
            </NavLink>
        </div>

        @if (_authService.HasRole("Admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="languages">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Languages
                </NavLink>
            </div>
        }
        
        @if (_authService.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="words">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Words
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        _authService.OnChange += RefreshPage;
    }

    public void Dispose()
    {
        _authService.OnChange -= RefreshPage;
    }

    private async void RefreshPage()
    {
        await InvokeAsync(StateHasChanged);
    }

}