﻿@page "/languages"
@inject LanguageService _languageService

<h3>Languages manager</h3>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2">New language name:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8">
        <TextEdit Placeholder="Language name" @bind-Text="@_newLanguageName"/>
    </FieldBody>
    <Button Clicked="AddLanguage" Color="Color.Success">Add language</Button>
</Field>

<DataGrid TItem="Language"
          Data="@_languages"
          ShowPager="true"
          PageSize="7"
          Sortable="true">
    <DataGridColumns>
        <DataGridColumn TItem="Language" Field="@nameof(Language.Name)" Caption="Language"></DataGridColumn>
        <DataGridColumn TItem="Language" Field="@nameof(Language.CreatedAt)" Caption="Created At"></DataGridColumn>
        <DataGridColumn TItem="Language" Field="AppUser.UserName" Caption="Created By"></DataGridColumn>
        <DataGridColumn TItem="Language" Field="@nameof(Language.Id)" Caption="Actions">
            <DisplayTemplate>
                @*https://github.com/Megabit/Blazorise/issues/853#issuecomment-703824996*@

                <Blazorise.Button Color="Color.Danger" Clicked="_ => DeleteLanguage(context.Id)" Margin="Margin.Is3.FromEnd" >
                    <Icon Name="IconName.Delete" ></Icon>
                </Blazorise.Button>

            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>


@code {
    private List<Language> _languages = new();
    private string _newLanguageName;

    protected override async void OnInitialized()
    {
        await ReloadLanguages();
    }

    private async Task ReloadLanguages()
    {
        _languages = await _languageService.GetAllLanguages();
        await InvokeAsync(StateHasChanged);
    }

    private async Task DeleteLanguage(int languageId)
    {
        await _languageService.DeleteLanguage(languageId);
        await ReloadLanguages();
    }

    private async Task AddLanguage()
    {
        if(string.IsNullOrWhiteSpace(_newLanguageName))
            return;

        await _languageService.AddLanguage(_newLanguageName);
        await ReloadLanguages();
        _newLanguageName = null;
    }

}