﻿@page "/TranslationCreate/{QWordId:int}"
@inject TranslationService _translationService
@inject WordService _wordService
@inject NavigationManager _navigationManager

<h3>Create translation</h3>

@if (_wordA == null || _wordList == null)
{
    <Text>Loading...</Text>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
            <Card >
                <CardBody>
                    <Field>
                        <FieldLabel>Word</FieldLabel>
                        <TextEdit Placeholder="@($"{_wordA?.Content} ({_wordA?.Language?.Name})")" Disabled/>
                    </Field>

                    @if (_wordList == null)
                    {
                        <Text>Loading...</Text>
                    }
                    else
                    {
                        <Field>
                            <FieldLabel>Translate to</FieldLabel>
                            <Autocomplete TItem="Word"
                                          TValue="int"
                                          Data="@_wordList"
                                          TextField="@(item => $"{item.Content} ({item.Language?.Name})")"
                                          ValueField="@(item => item.Id)"
                                          @bind-SelectedValue="@_wordBId"
                                          Placeholder="Search..."
                                          Filter="AutocompleteFilter.StartsWith"
                                          FreeTyping
                                          CustomFilter="@((item, searchValue) => item.Content?.IndexOf(searchValue, 0, StringComparison.CurrentCultureIgnoreCase) >= 0)">
                                <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
                            </Autocomplete>
                        </Field>
                    }

                    <Blazorise.Button Color="Color.Primary" Clicked="CreateTranslation" Margin="Margin.Is3.FromEnd">
                        Create translation
                    </Blazorise.Button>

                    <Blazorise.Button Color="Color.Secondary" Type="ButtonType.Link" To=@($"/wordTranslations/{_wordA?.Id}") Margin="Margin.Is3.FromEnd">
                        Cancel
                    </Blazorise.Button>

                </CardBody>
            </Card>
        </Column>
    </Row>
}

@code {

    /// <summary>
    /// Id slova pre ktoré sa bude vytvárať preklad
    /// </summary>
    [Parameter]
    public int QWordId { get; set; }

    private Word _wordA;
    private int _wordBId;
    private List<Word> _wordList;

    protected override async Task OnInitializedAsync()
    {
        _wordList = await _translationService.GetPossibleTranslations(QWordId);
        _wordA = await _wordService.GetWord(QWordId);
    }

    private async Task CreateTranslation()
    {
        if (_wordA != null)
        {
            await _translationService.CreateTranslation(_wordA.Id, _wordBId);
            _navigationManager.NavigateTo($"/wordTranslations/{_wordA?.Id}");
        }
    }

}