﻿@page "/myWords"
@inject WordService _wordService
@inject AuthService _authService

<h3>My words</h3>

<Div TextAlignment="TextAlignment.End" Margin="Margin.Is3.FromBottom">
    <Button To="wordCreate" Type="ButtonType.Link" Color="Color.Success">Add new word</Button>
</Div>

<WordsDatagrid WordsList="@_words" ReloadCallback="ReloadWords"></WordsDatagrid>


@code {
    private List<Word> _words = new();

    protected override async void OnInitialized()
    {
        await ReloadWords();
    }

    private async Task ReloadWords()
    {
        _words = await _wordService.GetMyWords();
        await InvokeAsync(StateHasChanged);
    }

}