﻿@page "/wordEdit/{QWordId:int}"
@inject WordService _wordService;
@inject NavigationManager _navigationManager;

<h3>Edit word</h3>

<WordDetail ButtonText="Edit word" SubmitCallback="EditWord" PWordId="QWordId"></WordDetail>

@code {
    /// <summary>
    /// Id slova, ktoré sa má editovať.
    /// </summary>
    [Parameter]
    public int QWordId { get; set; }

    private const int NotDefined = 0;

    private async void EditWord(Word word)
    {
        if (word.Content == null || word.Description == null || word.Id == NotDefined)
            return;

        await _wordService.EditWord(word);
        _navigationManager.NavigateTo("/words");
    }

}