﻿@page "/wordTranslations/{QWordId:int}"
@inject AuthService _authService
@inject TranslationService _translationService


<h3>Translations of word: @_translationData?.Word?.Content </h3>

<Div TextAlignment="TextAlignment.End" Margin="Margin.Is3.FromBottom">
    <Button To="@($"/TranslationCreate/{QWordId}")" Type="ButtonType.Link" Color="Color.Success">Add new translation</Button>
</Div>

@if (_translationData is not {Translations: {}})
{
    <Text>Loading...</text>
}
else
{
    <DataGrid TItem="Translation"
              Data="@_translationData.Translations"
              ShowPager="true"
              PageSize="7"
              Sortable="true">
        <DataGridColumns>
            <DataGridColumn TItem="Translation" Field="TranslationWord.Content" Caption="Translation word"></DataGridColumn>
            <DataGridColumn TItem="Translation" Field="TranslationWord.Language.Name" Caption="Language"></DataGridColumn>
            <DataGridColumn TItem="Translation" Field="@nameof(Translation.CreatedAt)" Caption="Created At"></DataGridColumn>
            <DataGridColumn TItem="Translation" Field="AppUser.UserName" Caption="Created By"></DataGridColumn>
            <DataGridColumn TItem="Translation" Field="@nameof(Translation.TranslationWordId)" Caption="Actions">
                <DisplayTemplate>
                    @*https://github.com/Megabit/Blazorise/issues/853#issuecomment-703824996*@
                    @if (context.AppUserId == _authService.LoginResponse?.Id || _authService.HasRole("Admin")) // Logged user is owner of resource
                    {
                        <Blazorise.Button Color="Color.Danger" Margin="Margin.Is3.FromEnd"
                                          Clicked="_ => DeleteTranslation(_translationData.WordId, context.TranslationWordId)">
                            <Icon Name="IconName.Delete"></Icon>
                        </Blazorise.Button>
                    }
                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
    </DataGrid>
}



@code {
    /// <summary>
    /// Id slova ktorého preklady sa majú zobraziť.
    /// </summary>
    [Parameter]
    public int QWordId { get; set; }

    private TranslationDataDto _translationData;

    protected override async Task OnInitializedAsync()
    {
        await ReloadTranslations();
    }

    private async Task ReloadTranslations()
    {
        _translationData = await _translationService.GetAllTanslatinos(QWordId);
        await InvokeAsync(StateHasChanged);
    }

    private async Task DeleteTranslation(int wordAId, int wordBId)
    {
        await _translationService.DeleteTranslation(wordAId, wordBId);
        await ReloadTranslations();
    }

}

