﻿@page "/wordCrosswordDefinitions/{QWordId:int}"
@inject WordService _wordService
@inject NavigationManager _navigationManager
@inject CrosswordDefinitionService _definitionService
@inject AuthService _authService

<h3>Crossword definitions of word: @_word?.Content</h3>

@if (_definitions == null)
{
    <Text>Loading...</Text>
}
else
{
    <DataGrid TItem="CrosswordDefinition"
              Data="@_definitions"
              ShowPager="true"
              PageSize="7"
              Sortable="true"
              Editable
              EditMode="DataGridEditMode.Popup"
              RowRemoved="DeleteDefinition"
              RowInserted="AddNewDefinition"
              RowUpdated="UpdateDefinition"
              UseInternalEditing="false">
        <DataGridColumns>

            <DataGridColumn TItem="CrosswordDefinition" Field="@nameof(CrosswordDefinition.Definition)" Caption="Definition text" Editable></DataGridColumn>
            <DataGridColumn TItem="CrosswordDefinition" Field="@nameof(CrosswordDefinition.CreatedAt)" Caption="Created At"></DataGridColumn>
            <DataGridColumn TItem="CrosswordDefinition" Field="AppUser.UserName" Caption="Created By"></DataGridColumn>

            <DataGridCommandColumn TItem="CrosswordDefinition">
                <EditCommandTemplate>
                    <Blazorise.Button Clicked="context.Clicked" Color="Color.Warning" Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Pen"></Icon>
                    </Blazorise.Button>
                </EditCommandTemplate>
                <DeleteCommandTemplate>
                    <Blazorise.Button Color="Color.Danger" Clicked="context.Clicked" Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Delete"></Icon>
                    </Blazorise.Button>
                </DeleteCommandTemplate>
                <NewCommandTemplate>
                    <Button Clicked="context.Clicked" Color="Color.Success">Add new</Button>
                </NewCommandTemplate>
                <SaveCommandTemplate>
                    <Button PreventDefaultOnSubmit Color="Color.Primary" Clicked="context.Clicked">Save</Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button Color="Color.Secondary" Clicked="context.Clicked">Cancel</Button>
                </CancelCommandTemplate>
            </DataGridCommandColumn>
        </DataGridColumns>
    </DataGrid>
}


@code {
    /// <summary>
    /// Id slova, ktorého definície sa majú zobraziť.
    /// </summary>
    [Parameter]
    public int QWordId { get; set; }

    private Word _word;
    private List<CrosswordDefinition> _definitions;

    protected override async Task OnInitializedAsync()
    {
        _word = await _wordService.GetWord(QWordId);

        if (_word == null)
        {
            _navigationManager.NavigateTo("/words");
            return;
        }

        await ReloadDefinitions();
    }

    private async Task ReloadDefinitions()
    {
        _definitions = await _definitionService.GetWordDefinitions(QWordId);
    }

    private async Task DeleteDefinition(CrosswordDefinition definition)
    {
        await _definitionService.DeleteDefinition(definition);
        await ReloadDefinitions();
    }

    private async Task UpdateDefinition(SavedRowItem<CrosswordDefinition, Dictionary<string, object>> definitionItem)
    {
        if (_word == null)
        {
            _navigationManager.NavigateTo("/words");
            return;
        }

        var definition = definitionItem.Item;
        definition.Definition = (string) definitionItem.Values["Definition"];
        definition.WordId = _word.Id;
        await _definitionService.UpdateDefinition(definition);
        await ReloadDefinitions();
    }

    private async Task AddNewDefinition(SavedRowItem<CrosswordDefinition, Dictionary<string, object>> definitionItem)
    {
        if (_word == null)
        {
            _navigationManager.NavigateTo("/words");
            return;
        }

        var definition = definitionItem.Item;
        definition.WordId = _word.Id;
        await _definitionService.AddDefinition(definition);
        await ReloadDefinitions();
    }

}