﻿@using Blazorise
@using SemPracaPOT.ClientApp.Services
@using SemPracaPOT.Shared.Models.Dictionary
@using Blazorise
@using Blazorise.DataGrid
@inject AuthService _authService
@inject WordService _wordService

<DataGrid TItem="Word"
          Data="@WordsList"
          ShowPager="true"
          PageSize="7"
          Sortable="true">
    <DataGridColumns>
        <DataGridColumn TItem="Word" Field="@nameof(Word.Content)" Caption="Word text"></DataGridColumn>
        <DataGridColumn TItem="Word" Field="Language.Name" Caption="Language"></DataGridColumn>
        <DataGridColumn TItem="Word" Field="@nameof(Word.CreatedAt)" Caption="Created At"></DataGridColumn>
        <DataGridColumn TItem="Word" Field="AppUser.UserName" Caption="Created By"></DataGridColumn>
        <DataGridColumn TItem="Word" Field="@nameof(Word.Id)" Caption="Actions">
            <DisplayTemplate>
                @*https://github.com/Megabit/Blazorise/issues/853#issuecomment-703824996*@
                @if (context.AppUserId == _authService.LoginResponse?.Id || _authService.HasRole("Admin")) // Logged user is owner of resource
                {
                    <Blazorise.Button Color="Color.Danger" Clicked="_ => DeleteWord(context.Id)" Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Delete"></Icon>
                    </Blazorise.Button>
                    <Blazorise.Button Color="Color.Warning" Type="ButtonType.Link" To=@($"/wordEdit/{context.Id}") Margin="Margin.Is3.FromEnd">
                        <Icon Name="IconName.Pen"></Icon>
                    </Blazorise.Button>
                }

                <Blazorise.Button Color="Color.Primary" Type="ButtonType.Link" To=@($"/wordTranslations/{context.Id}") Margin="Margin.Is3.FromEnd">
                    Transations
                </Blazorise.Button>

                <Blazorise.Button Color="Color.Info" Type="ButtonType.Link" To=@($"/wordCrosswordDefinitions/{context.Id}") Margin="Margin.Is3.FromEnd">
                    Cross. def.
                </Blazorise.Button>

            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@code {

    /// <summary>
    /// Zoznam slov, ktorý sa má zobraziť 
    /// </summary>
    [Parameter]
    public List<Word> WordsList { get; set; } = new();

    /// <summary>
    /// Akcia sa zavolá po vymazaní záznamu z WordList-u.
    /// </summary>
    [Parameter]
    public EventCallback<Word> ReloadCallback { get; set; }

    private async Task DeleteWord(int languageId)
    {
        await _wordService.DeleteWord(languageId);
        await ReloadCallback.InvokeAsync();
    }

}