﻿@using SemPracaPOT.Shared.Models.Dictionary
@using SemPracaPOT.ClientApp.Services
@using Blazorise
@using Blazorise.Components
@inject LanguageService _languageService;
@inject WordService _wordService;
@inject NavigationManager _navigationManager;

@if (_wordDto == null)
{
    <div>Loading...</div>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.Is4.Is4.WithOffset">
            <Card >
                <CardBody>
                    <Field>
                        <FieldLabel>Word text</FieldLabel>
                        <TextEdit Placeholder="Text" @bind-Text="@_wordDto.Content"/>
                    </Field>

                    <Field>
                        <FieldLabel>Description</FieldLabel>
                        <MemoEdit Rows="3" Placeholder="Description" @bind-Text="@_wordDto.Description"/>
                    </Field>

                    <Field>
                        <FieldLabel>Language</FieldLabel>
                        <Select @bind-SelectedValue="@_wordDto.LanguageId">
                            @if (_languagesList != null)
                            {
                                @foreach (var lang in _languagesList)
                                {
                                    <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                                }
                            }
                        </Select>
                    </Field>
                    
                    <Blazorise.Button Color="Color.Primary" Clicked="OnSubmit" Margin="Margin.Is3.FromEnd">
                        @ButtonText
                    </Blazorise.Button>

                    <Blazorise.Button Color="Color.Secondary" Type="ButtonType.Link" To="/words" Margin="Margin.Is3.FromEnd">
                        Cancel
                    </Blazorise.Button>

                </CardBody>
            </Card>
        </Column>
    </Row>
}

@code {
    // Bli použité zdroje:
    // https://www.c-sharpcorner.com/article/share-data-between-child-and-parent-components-in-blazor/
    // https://chrissainty.com/3-ways-to-communicate-between-components-in-blazor/

    /// <summary>
    /// Id slova, ktorého vlastnosti sa majú zobraziť.
    /// </summary>
    [Parameter]
    public int PWordId { get; set; }

    /// <summary>
    /// Text tlačidla potvrdenia formuláru.
    /// </summary>
    [Parameter]
    public string ButtonText { get; set; }

    /// <summary>
    /// Akcia sa zavolá po kliknutí na potvrdzovacie tlačidlo.
    /// </summary>
    [Parameter]
    public EventCallback<Word> SubmitCallback { get; set; }

    private Word _wordDto;
    private List<Language> _languagesList = new();

    protected override async Task OnInitializedAsync()
    {
        if (PWordId != 0) // Edit word
        {
            _wordDto = await _wordService.GetWord(PWordId);

            if (_wordDto == null)
                _navigationManager.NavigateTo("/words");
        }

        _languagesList = await _languageService.GetAllLanguages();

        if (_languagesList is not {Count: > 0 })
            _navigationManager.NavigateTo("/words");

        _wordDto ??= new Word() {LanguageId = _languagesList[0].Id};
    }

    private Task OnSubmit()
    {
        return SubmitCallback.InvokeAsync(_wordDto);
    }

}