﻿@page "/wordCreate"
@inject WordService _wordService;
@inject NavigationManager _navigationManager;

<h3>Create new word</h3>

<WordDetail ButtonText="Create word" SubmitCallback="CreateWord"></WordDetail>

@code {

    private async void CreateWord(Word newWord)
    {
        if (newWord.Content == null || newWord.Description == null)
            return;

        await _wordService.AddWord(newWord);
        _navigationManager.NavigateTo("/words");
    }

}