﻿@page "/wordsFinder"
@inject CrosswordDefinitionService _definitionService

<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">Words finder</Heading>

<Row>
    <Column ColumnSize="ColumnSize.Is5">
        <Field>
            <FieldLabel>Word definition</FieldLabel>
        </Field>
    </Column>

    <Column ColumnSize="ColumnSize.Is5.Is2.WithOffset">
        <Field>
            <FieldLabel>Found words</FieldLabel>
        </Field>
    </Column>
</Row>

<Row>
    <Column ColumnSize="ColumnSize.Is5">
        <TextEdit Placeholder="Definition" @bind-Text="@_definition" Margin="Margin.Is3.FromBottom"/>
    </Column>

    <Column ColumnSize="ColumnSize.Is2" TextAlignment="TextAlignment.Center">
        <Button Color="Color.Primary" Clicked="ReloadWords" Margin="Margin.Is3.OnX">
            <Icon Name="IconName.ArrowRight"/>
        </Button>

    </Column>
    <Column ColumnSize="ColumnSize.Is5">

        @if (_words != null)
        {
            @if (_words.Count == 0)
            {
                <Card >
                    <CardBody>
                        <Text TextColor="TextColor.Dark">There are no words for definition "@_definition".</Text>
                    </CardBody>
                </Card>
            }
            else
            {
                <Card >
                    <CardBody>
                        @for (var i = 0; i < _words.Count; i++)
                        {
                            var word = _words[i];

                            @if (word is {CrosswordDefinitions.Count: > 0})
                            {
                                <CardTitle Size="4" Margin="Margin.Is0.FromBottom">@word.Content (@word.Language?.Name)</CardTitle>

                                foreach (var definition in word.CrosswordDefinitions)
                                {
                                    <CardText TextColor="TextColor.Dark">@definition.Definition</CardText>
                                    <Row>
                                        <Column>
                                            <Blazorise.Text TextColor="TextColor.Muted">by @definition.AppUser.UserName</Blazorise.Text>
                                        </Column>
                                        <Column TextAlignment="TextAlignment.End">
                                            <Blazorise.Text TextColor="TextColor.Muted" TextAlignment="TextAlignment.End">@definition.CreatedAt</Blazorise.Text>
                                        </Column>
                                    </Row>
                                }
                            }

                            @if (i != _words.Count - 1)
                            {
                                <Divider/>
                            }
                        }
                    </CardBody>
                </Card>
            }
        }

    </Column>
</Row>


@code {
    private List<Word> _words;
    private string _definition;

    private async Task ReloadWords()
    {
        if (!string.IsNullOrWhiteSpace(_definition))
            _words = await _definitionService.GetWordsForDefinition(_definition);
        else
            _words = new();
    }

}