﻿@page "/translate"
@inject LanguageService _languageService
@inject NavigationManager _navigationManager
@inject TranslationService _translationService

<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">Translate</Heading>

@if (_languagesList == null)
{
    <Text>Loading...</Text>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.Is5">
            <Field>
                <FieldLabel>From language</FieldLabel>
                <Select @bind-SelectedValue="@_languageFromId">
                    @if (_languagesList != null)
                    {
                        @foreach (var lang in _languagesList)
                        {
                            <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                        }
                    }
                </Select>
            </Field>
        </Column>

        <Column ColumnSize="ColumnSize.Is5.Is2.WithOffset">
            <Field>
                <FieldLabel>To language</FieldLabel>
                <Select @bind-SelectedValue="@_languageToId">
                    @if (_languagesList != null)
                    {
                        @foreach (var lang in _languagesList)
                        {
                            <SelectItem Value="@lang.Id">@lang.Name</SelectItem>
                        }
                    }
                </Select>
            </Field>
        </Column>
    </Row>

    <Row>
        <Column ColumnSize="ColumnSize.Is5">
            <TextEdit Placeholder="Word from" @bind-Text="@_wordFrom" Margin="Margin.Is3.FromBottom"/>

            @if (_translationData is {Word: {}})
            {
                <Card >
                    <CardBody>
                        <CardTitle Size="4" Margin="Margin.Is0.FromBottom">@_translationData.Word.Content</CardTitle>
                        <CardText TextColor="TextColor.Dark">@_translationData.Word.Description</CardText>
                        <Row>
                            <Column>
                                <Blazorise.Text TextColor="TextColor.Muted">by @_translationData.Word.AppUser.UserName</Blazorise.Text>
                            </Column>
                            <Column TextAlignment="TextAlignment.End">
                                <Blazorise.Text TextColor="TextColor.Muted" TextAlignment="TextAlignment.End">@_translationData.Word.CreatedAt</Blazorise.Text>
                            </Column>
                        </Row>
                    </CardBody>
                </Card>
            }
        </Column>

        <Column ColumnSize="ColumnSize.Is2" TextAlignment="TextAlignment.Center">
            <Button Color="Color.Primary" Clicked="Translate" Margin="Margin.Is3.OnX">
                <Icon Name="IconName.ArrowRight"/>
            </Button>

        </Column>
        <Column ColumnSize="ColumnSize.Is5">

            @if (_translationData is {Translations:{}})
            {
                @if (_translationData.Translations.Count == 0)
                {
                    <Card >
                        <CardBody>
                            <Text TextColor="TextColor.Dark">There are no translations for word "@_wordFrom".</Text>
                        </CardBody>
                    </Card>
                }
                else
                {
                    <Card >
                        <CardBody>
                            @for (var i = 0; i < _translationData.Translations.Count; i++)
                            {
                                var word = _translationData.Translations[i];

                                @if (word is {TranslationWord: {}})
                                {
                                    <CardTitle Size="4" Margin="Margin.Is0.FromBottom">@word.TranslationWord.Content</CardTitle>
                                    <CardText TextColor="TextColor.Dark">@word.TranslationWord.Description</CardText>

                                    <Row>
                                        <Column>
                                            <Blazorise.Text TextColor="TextColor.Muted">by @word.AppUser.UserName</Blazorise.Text>
                                        </Column>
                                        <Column TextAlignment="TextAlignment.End">
                                            <Blazorise.Text TextColor="TextColor.Muted" TextAlignment="TextAlignment.End">@word.CreatedAt</Blazorise.Text>
                                        </Column>
                                    </Row>
                                }

                                @if (i != _translationData.Translations.Count - 1)
                                {
                                    <Divider/>
                                }
                            }
                        </CardBody>
                    </Card>
                }
            }

        </Column>
    </Row>
}



@code {
    private int _languageFromId;
    private int _languageToId;
    private string _wordFrom;

    private List<Language> _languagesList;
    private TranslationDataDto _translationData;

    protected override async Task OnInitializedAsync()
    {
        _languagesList = await _languageService.GetAllLanguages();

        if (_languagesList is not {Count: > 0 })
        {
            _navigationManager.NavigateTo("/");
            return;
        }

        _languageFromId = _languagesList[0].Id;
        _languageToId = _languagesList[0].Id;
    }

    private async Task Translate()
    {
        if (!string.IsNullOrWhiteSpace(_wordFrom))
            _translationData = await _translationService.GetTanslations(_wordFrom, _languageFromId, _languageToId);

        await InvokeAsync(StateHasChanged);
    }

}